p cnf 15 53
u_red u_blue u_green 0
-u_red -u_blue 0
-u_red -u_green 0
-u_blue -u_red 0
-u_blue -u_green 0
-u_green -u_red 0
-u_green -u_blue 0
v_red v_blue v_green 0
-v_red -v_blue 0
-v_red -v_green 0
-v_blue -v_red 0
-v_blue -v_green 0
-v_green -v_red 0
-v_green -v_blue 0
w_red w_blue w_green 0
-w_red -w_blue 0
-w_red -w_green 0
-w_blue -w_red 0
-w_blue -w_green 0
-w_green -w_red 0
-w_green -w_blue 0
x_red x_blue x_green 0
-x_red -x_blue 0
-x_red -x_green 0
-x_blue -x_red 0
-x_blue -x_green 0
-x_green -x_red 0
-x_green -x_blue 0
y_red y_blue y_green 0
-y_red -y_blue 0
-y_red -y_green 0
-y_blue -y_red 0
-y_blue -y_green 0
-y_green -y_red 0
-y_green -y_blue 0
-u_red -w_red 0
-u_blue -w_blue 0
-u_green -w_green 0
-u_red -v_red 0
-u_blue -v_blue 0
-u_green -v_green 0
-w_red -x_red 0
-w_blue -x_blue 0
-w_green -x_green 0
-w_red -y_red 0
-w_blue -y_blue 0
-w_green -y_green 0
-v_red -y_red 0
-v_blue -y_blue 0
-v_green -y_green 0
-y_red -x_red 0
-y_blue -x_blue 0
-y_green -x_green 0
